.noise::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: '';
  /* you can control opacity of noise  */
  opacity: 0.1;
  z-index: 1000;
  pointer-events: none;
  background: url('/noise.gif');
}
